{% extends "template.html" %}
{% block includes %}
<script src="/js/drone_imagery_upload.js" type="text/javascript"></script>
{% endblock %}
{% block title %} <h3 id="pagetitle_h3">Manage Aerial Imagery</h3> {% endblock %}


{% block content %}

<div class="row">
    <div class="col-sm-12">
        <div class="well">
            <div class="row">
                <div class="col-sm-0">
                    <span style="font-size:3.5em;" class=""></span>
                </div>
                <div class="col-sm-12">
                    <a class="info_section_anchor" name="aerial_imagery"></a>

                    <table cellspacing="0" cellpadding="0" class="infosectionhead" summary="">
                        <tr>
                            <td class="infosectiontitle">
                                <a class="collapser collapser_show" target="" href="" onclick="
                                    Effects.swapElements('manage_drone_imagery_main_offswitch', 'manage_drone_imagery_main_onswitch');
                                    Effects.hideElement('manage_drone_imagery_main_content');
                                    
                                    return false;" id="manage_drone_imagery_main_offswitch">
                                    <img class="collapser_img" src="/img/collapser_minus.png" />
                                    <h4 style='display:inline'>Aerial Imagery</h4>
                                </a>
                                <a class="collapser collapser_show" target="" href="" style="display:none;" onclick="
                                    Effects.swapElements('manage_drone_imagery_main_onswitch', 'manage_drone_imagery_main_offswitch');
                                    Effects.showElement('manage_drone_imagery_main_content');
                                    
                                    return false;" id="manage_drone_imagery_main_onswitch">
                                    <img class="collapser_img" src="/img/collapser_plus.png" />
                                    <h4 style='display:inline'>Aerial Imagery</h4>
                                </a>
                            </td>
                            <td class="infosectionsubtitle" role="button" tabindex="0">Please cite
                                <a href="https://acsess.onlinelibrary.wiley.com/doi/full/10.1002/ppj2.20004"
                                    target=_blank>ImageBreed</a>
                                if you find any of these tools useful&nbsp;
                            </td>
                        </tr>
                    </table>

                    <span id="manage_drone_imagery_main_content">
                        <div class="infosectioncontent">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <button class='btn btn-primary' style='margin:3px'
                                        id='upload_drone_imagery_link'>Upload Imagery</button><button
                                        class='btn btn-success' style='margin:3px'
                                        id='drone_imagery_analytics_link'>Analytics</button><button
                                        class='btn btn-default' style='margin:3px'
                                        id='drone_imagery_view_imaging_vehicles_link'>Imaging Vehicles</button><button
                                        class='btn btn-default' style='margin:3px'
                                        id='download_phenotypes_drone_imagery_link'>Download Image-Phenotype
                                        File</button><button class='btn btn-default' style='margin:3px'
                                        id='export_drone_imagery_events'>Export Imaging Events</button>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <table class="table table-bordered table-hover" id="raw_drone_image_datatable">
                                        <thead>
                                            <tr>
                                                <th>Field Trials -> Imaging Events</th>
                                            </tr>
                                        </thead>
                                    </table>

                                    <script>
                                        jQuery(document).ready(function () {

                                            var raw_drone_imagery_table = jQuery('#raw_drone_image_datatable').DataTable({
                                                'ajax': {
                                                    url: '/api/drone_imagery/raw_drone_imagery_top',
                                                    beforeSend: function (xhr) {
                                                        xhr.setRequestHeader('Authorization', localStorage.getItem("access_token"));
                                                    }
                                                },
                                                'paging': false
                                            });

                                            raw_drone_imagery_table.on('draw', function () {
                                                jQuery.ajax({
                                                    url: '/api/drone_imagery/raw_drone_imagery_plot_image_count',
                                                    beforeSend: function (xhr) {
                                                        xhr.setRequestHeader('Authorization', localStorage.getItem("access_token"));
                                                    },
                                                    success: function (response) {
                                                        //console.log(response);
                                                        jQuery('div[name="drone_run_band_total_plot_image_div"]').html('<div class="panel-group"><div class="panel panel-default"><div class="panel-heading"><h4 class="panel-title"><a data-toggle="collapse" >No Plot Images Saved</a></h4></div></div></div>');
                                                        for (drone_run_project_id in response.data) {
                                                            var html = '<div class="panel-group" id="drone_run_plot_polygons_table_accordion_' + drone_run_project_id + '" ><div class="panel panel-default"><div class="panel-heading"><h4 class="panel-title"><a data-toggle="collapse" data-parent="#drone_run_plot_polygons_table_accordion_' + drone_run_project_id + '" href="#drone_run_plot_polygons_table_accordion_one_' + drone_run_project_id + '" >View Plot Images Summary (' + response.data[drone_run_project_id]['total_plot_image_count'] + ')</a></h4></div><div id="drone_run_plot_polygons_table_accordion_one_' + drone_run_project_id + '" class="panel-collapse collapse"><div class="panel-body">';
                                                            delete response.data[drone_run_project_id]['total_plot_image_count'];
                                                            html = html + "<table class='table table-bordered table-sm'><thead><tr><th>Plot Image Type</th><th>Count</th></tr></thead><tbody>";
                                                            for (plot_image_type in response.data[drone_run_project_id]) {
                                                                html = html + "<tr><td>" + plot_image_type + "</td><td>" + response.data[drone_run_project_id][plot_image_type] + "</td></tr>";
                                                            }
                                                            html = html + "</tbody></table>";
                                                            html = html + '</div></div></div></div>';
                                                            jQuery('#drone_run_band_total_plot_image_count_div_' + drone_run_project_id).html(html);
                                                        }
                                                    },
                                                    error: function (response) {
                                                        //alert('Error getting plot image count!')
                                                    }
                                                });
                                            });

                                            jQuery(document).on('click', 'span[name="drone_image_remove"]', function () {
                                                var image_id = jQuery(this).data('image_id');
                                                if (confirm("Are you sure you want to remove this image?")) {
                                                    jQuery.ajax({
                                                        url: '/api/drone_imagery/remove_image?image_id=' + image_id,
                                                        beforeSend: function (xhr) {
                                                            jQuery("#working_modal").modal("show");
                                                            xhr.setRequestHeader('Authorization', localStorage.getItem("access_token"));
                                                        },
                                                        success: function (response) {
                                                            console.log(response);
                                                            jQuery("#working_modal").modal("hide");
                                                            location.reload();
                                                        },
                                                        error: function (response) {
                                                            jQuery("#working_modal").modal("hide");
                                                            alert('Error removing drone image!')
                                                        }
                                                    });
                                                }
                                            });

                                            jQuery(document).on('click', 'button[name="drone_runs_trial_view_geo_layout"]', function () {
                                                var trial_id = jQuery(this).data('field_trial_id');
                                                window.open('/tools/fieldmap?trial_id=' + trial_id, '_blank');
                                            });

                                        });

                                        function manageDroneImageryDroneRunBandDisplay(project_drone_run_band_id) {
                                            jQuery.ajax({
                                                url: '/api/drone_imagery/raw_drone_imagery_drone_run_band?drone_run_band_project_id=' + project_drone_run_band_id,
                                                beforeSend: function (xhr) {
                                                    jQuery("#working_modal").modal("show");
                                                    xhr.setRequestHeader('Authorization', localStorage.getItem("access_token"));
                                                },
                                                success: function (response) {
                                                    console.log(response);
                                                    jQuery('#drone_run_band_accordian_drone_run_band_div_' + project_drone_run_band_id).html(response.data[0]);
                                                    jQuery("#working_modal").modal("hide");
                                                },
                                                error: function (response) {
                                                    jQuery("#working_modal").modal("hide");
                                                    alert('Error getting drone run band summary images!');
                                                }
                                            });
                                        }

                                    </script>
                                </div>
                            </div>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="export_drone_imagery_dialog" name="export_drone_imagery_dialog" tabindex="-1" role="dialog"
    aria-labelledby="exportDroneImageryDialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exportDroneImageryDialog">Export Aerial Imaging Event(s)</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div id="drone_imagery_export_workflow" class="workflow">
                        <ol class="workflow-prog" style="text-align: center;">
                            <li>
                                <div class="workflow-title">Intro</div>
                            </li>
                            <li>
                                <div class="workflow-title">Field Trial</div>
                            </li>
                            <li>
                                <div class="workflow-title">Drone Run</div>
                            </li>
                            <li>
                                <div class="workflow-title">Submit</div>
                            </li>
                        </ol>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <ol class="workflow-content">
                                    <li>
                                        <div id="pagetitle">
                                            <h3 id="pagetitle_h3">This workflow will guide you through exporting aerial
                                                imaging event(s) from the database</h3>
                                        </div>

                                        <ul>
                                            <li>Exporting imaging events is important for transferring data across
                                                ImageBreed instances.</li>
                                            <li>Exporting imaging events will return a spreadsheet file defining the
                                                imaging events, a zipfile containing the orthophoto imges, and a zipfile
                                                containing the GeoJSON plot-polygon definitions.</li>
                                            <li>Phenotypic values will not be exported in this workflow, please use the
                                                Wizard of the "Download Image-Phenotype File" to retrieve phenotypic
                                                values.</li>
                                        </ul>
                                        <br />
                                        <div>
                                            <button class="btn btn-primary"
                                                onclick="Workflow.complete(this); return false;">Go to export imaging
                                                event(s)</button>
                                        </div>
                                    </li>
                                    <li>
                                        <div id="pagetitle">
                                            <h3 id="pagetitle_h3">Select your field trial</h3>
                                        </div>
                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Field Trial: </label>
                                                <div class="col-sm-9">
                                                    <div id="export_drone_image_trial_select_div"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <div>
                                            <button class="btn btn-primary"
                                                onclick="Workflow.complete(this); return false;">Go to Next
                                                Step</button>
                                        </div>
                                    </li>
                                    <li>
                                        <div id="pagetitle">
                                            <h3 id="pagetitle_h3">Create a new drone run</h3>
                                        </div>
                                        <table class="table table-bordered table-hover"
                                            id="drone_image_export_drone_runs_table">
                                            <thead>
                                                <tr>
                                                    <th>Select</th>
                                                    <th>Imaging Event Name</th>
                                                    <th>Imaging Event Type</th>
                                                    <th>Imaging Event Description</th>
                                                    <th>Imaging Event Date</th>
                                                    <th>Drone Run GDD</th>
                                                    <th>Sensor</th>
                                                    <th>Field Trial Name</th>
                                                    <th>Field Trial Description</th>
                                                </tr>
                                            </thead>
                                        </table>
                                        <div>
                                            <button class="btn btn-primary"
                                                id="drone_image_export_drone_run_continue">Go to Next Step</button>
                                        </div>
                                    </li>
                                    <li>
                                        <div id="pagetitle">
                                            <h3 id="pagetitle_h3">Export Imaging Event(s)</h3>
                                        </div>
                                        <div id="export_drone_imagery_submit_div">
                                        </div>
                                        <div>
                                            <button type="button" class="btn btn-info"
                                                name="export_drone_imagery_submit"
                                                id="export_drone_imagery_submit">Submit</button>
                                        </div>
                                    </li>
                                </ol>
                                <div class="workflow-pending-message">Complete!</div>
                                <div class="workflow-complete-message">Complete!</div>
                            </div>
                        </div>
                    </div>
                    <script type="text/javascript">
                        Workflow.init("#drone_imagery_export_workflow");
                    </script>
                    <div id="upload_drone_imagery_verify_status"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="manage_drone_imagery_field_trial_time_series_popup"
    name="manage_drone_imagery_field_trial_time_series_popup" tabindex="-1" role="dialog"
    aria-labelledby="droneImageryTImeSeriesHoverDialog" data-backdrop="static">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="droneImageryTImeSeriesHoverDialog">Plot Information</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div id="manage_drone_imagery_field_trial_time_series_popup_content"></div>
                    <div id="manage_drone_imagery_field_trial_time_series_popup_content_figure1"></div>
                    <div id="manage_drone_imagery_field_trial_time_series_popup_content_figure2"></div>
                    <div id="manage_drone_imagery_field_trial_time_series_popup_content_figure3"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="drone_imagery_change_date_drone_run_dialog"
    name="drone_imagery_change_date_drone_run_dialog" tabindex="-1" role="dialog"
    aria-labelledby="droneImageryChangeDateDroneRunDialog" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="droneImageryChangeDateDroneRunDialog">Change Date of Imaging Event</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div>
                        <div id="change_date_drone_image_field_trial_info">
                        </div>

                        <div class="form-group">
                            <label class="col-sm-6 control-label">Imaging Event Date and Hour (Must be after the
                                planting date):</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="drone_run_change_date" name="drone_run_change_date"
                                    title="drone_run_change_date" type="text" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="drone_imagery_change_date_drone_run_confirm">Change
                    Date of Imaging Event</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="drone_imagery_delete_drone_run_dialog" name="drone_imagery_delete_drone_run_dialog"
    tabindex="-1" role="dialog" aria-labelledby="droneImageryDeleteDroneRunDialog" data-backdrop="static">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="droneImageryDeleteDroneRunDialog">Delete a Imaging Event</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="well">
                        <ul>
                            <li>Deleting an imaging event will remove the imaging event and all image bands permanently.
                            </li>
                            <li>All images in the imaging event will be deleted (obsoleted).</li>
                            <li>Phenotypes that were generated for plots in this imaging event will be deleted
                                permanently.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="drone_imagery_delete_drone_run_confirm">Delete Imaging
                    Event</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="drone_imagery_associated_field_trials_dialog"
    name="drone_imagery_associated_field_trials_dialog" tabindex="-1" role="dialog"
    aria-labelledby="droneImageryAssociatedFieldTrialsDialog" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="droneImageryAssociatedFieldTrialsDialog">Associated Field Trials</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div id="drone_imagery_associated_field_trials_div"></div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary"
                    id="drone_imagery_associated_field_trials_select_submit">Save Associated Field Trials</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="drone_imagery_download_phenotypes_dialog" name="drone_imagery_download_phenotypes_dialog"
    tabindex="-1" role="dialog" aria-labelledby="droneImageryDownloadPhenotypesDialog" data-backdrop="static">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="droneImageryDownloadPhenotypesDialog">Download drone image phenotypes and
                    plot images</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">




















                    <div id="drone_imagery_download_phenotypes_workflow" class="workflow">
                        <ol class="workflow-prog">
                            <li>
                                <div class="workflow-title">Field Trial</div>
                            </li>
                            <li>
                                <div class="workflow-title">Trait Selection</div>
                            </li>
                            <li>
                                <div class="workflow-title">Image Types</div>
                            </li>
                            <li>
                                <div class="workflow-title">Download</div>
                            </li>
                        </ol>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <ol class="workflow-content">
                                    <li>
                                        <div id="pagetitle">
                                            <h3 id="pagetitle_h3">Select the field trial you are interested in</h3>
                                        </div>

                                        <br /><br />
                                        <form class="form-horizontal">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Field Trial: </label>
                                                <div class="col-sm-9">
                                                    <div id="drone_imagery_download_phenotypes_trial_select_div"></div>
                                                </div>
                                            </div>
                                        </form>
                                        <div>
                                            <button class="btn btn-primary"
                                                id="drone_imagery_download_phenotypes_field_trial_select_step">Go to
                                                Next Step</button>
                                        </div>
                                    </li>
                                    <li>
                                        <div id="pagetitle">
                                            <h3 id="pagetitle_h3">Select the observation variable(s) you are interested
                                                in downloading</h3>
                                        </div>

                                        <br /><br />
                                        <form class="form-horizontal">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Observation Variables Phenotyped
                                                    in the Selected Field Trial: </label>
                                                <div class="col-sm-9">
                                                    <div id="drone_imagery_download_phenotypes_trait_select_div"></div>
                                                </div>
                                            </div>
                                        </form>
                                        <div>
                                            <button class="btn btn-primary"
                                                id="drone_imagery_download_phenotypes_trait_select_step">Go to Next
                                                Step</button>
                                        </div>
                                    </li>
                                    <li>
                                        <div id="pagetitle">
                                            <h3 id="pagetitle_h3">Select the image type(s) you are interested in
                                                downloading</h3>
                                        </div>

                                        <br /><br />
                                        <form class="form-horizontal">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Plot Image Types in the Selected
                                                    Field Trial: </label>
                                                <div class="col-sm-9">
                                                    <div id="drone_imagery_download_phenotypes_image_type_select_div">
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <div>
                                            <button class="btn btn-primary"
                                                id="drone_imagery_download_phenotypes_image_type_select_step">Go to Next
                                                Step</button>
                                        </div>
                                    </li>
                                    <li>
                                        <div id="pagetitle">
                                            <h3 id="pagetitle_h3">Download!</h3>
                                        </div>


                                        <div id="drone_imagery_download_phenotypes_file_div">
                                        </div>

                                        <br /><br />
                                        <div>
                                            <button class="btn btn-primary"
                                                id="drone_imagery_download_phenotypes_confirm_step">Submit</button>
                                        </div>
                                    </li>
                                </ol>
                                <div class="workflow-pending-message">Complete!</div>
                                <div class="workflow-complete-message">Complete!</div>
                            </div>
                        </div>
                    </div>
                    <script type="text/javascript">
                        Workflow.init("#drone_imagery_download_phenotypes_workflow");
                    </script>


                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="drone_imagery_view_imaging_vehicles_modal" name="drone_imagery_view_imaging_vehicles_modal"
    tabindex="-1" role="dialog" aria-labelledby="droneImageryImagingVehiclesDialog" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="droneImageryImagingVehiclesDialog">Available Imaging Vehicles</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">

                    <table class="table table-bordered table-hover" id="drone_imagery_view_imaging_vehicles_table">
                        <thead>
                            <tr>
                                <th>Vehicles Name</th>
                                <th>Description</th>
                                <th>Company</th>
                                <th>Battery Usage</th>
                            </tr>
                        </thead>
                    </table>

                    <button class="btn btn-primary" name="drone_run_imaging_vehicle_add_new">Add New Imaging
                        Vehicle</button>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="drone_run_imaging_vehicle_add_new_modal" name="drone_run_imaging_vehicle_add_new_modal"
    tabindex="-1" role="dialog" aria-labelledby="uploadDroneImageryAddNewVehicleDialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="uploadDroneImageryAddNewVehicleDialog">Add New Imaging Vehicle</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Imaging Vehicle Name (Must be unique): </label>
                            <div class="col-sm-9">
                                <input class="form-control" id="drone_run_new_imaging_vehicle_name"
                                    name="drone_run_new_imaging_vehicle_name" type="text"
                                    placeholder="e.g. MyLabDrone1" />
                            </div>
                        </div>
                        <div id="new_imaging_vehicle_company_hide_div" style="display:none">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Company: </label>
                                <div class="col-sm-9">
                                    <div id="drone_run_new_imaging_vehicle_company_div"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Imaging Vehicle Description: </label>
                            <div class="col-sm-9">
                                <input class="form-control" id="drone_run_new_imaging_vehicle_desc"
                                    name="drone_run_new_imaging_vehicle_desc" type="text" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Battery Set Names (optional) (comma separated string
                                of names e.g. blue,green,red,black): </label>
                            <div class="col-sm-9">
                                <input class="form-control" id="drone_run_new_imaging_vehicle_battery_names"
                                    name="drone_run_new_imaging_vehicle_battery_names" type="text"
                                    placeholder="default_battery" value="default_battery" />
                            </div>
                        </div>
                    </div>
                    <br /><br />
                    <div>
                        <button class="btn btn-primary" type="button" id="drone_run_new_imaging_vehicle_submit"
                            name="drone_run_new_imaging_vehicle_submit">Submit</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% include 'modals/drone_imagery_analytics_modals.html' %}
{% include 'modals/drone_imagery_interactive_image_modals.html' %}
{% include 'modals/drone_imagery_keras_modals.html' %}
{% include 'modals/upload_drone_imagery_modals.html' %}
{% include 'modals/upload_drone_imagery_dialog_bands.html' %}
{% endblock %}