{% extends "template.html" %}
{% block title %} <h1>Welcome to ImageBreed!</h1> {% endblock %}


{% block content %}
<div>
  <div class="well well-sm" style="text-align: center;">
    <p>This system helps you manage field trials, process imaging events, and perform genotypically informed
      predictions.</p>
    <p><a href="https://www.youtube.com/channel/UC1FYqz6kz9pE72sSHhG7ocQ" target=_blank><img
          src="/img/imagebreed/imagebreed_tutorials.png" width="180" alt="Watch ImageBreed Tutorials"
          title="Watch ImageBreed Tutorials"></a></p>
  </div>

  <a class="btn btn-lg btn-default" href="/breeders/drone_rover">Manage Ground Rovers</a>
  <a class="btn btn-lg btn-default" href="/breeders/drone_imagery">Manage Aerial Imagery</a>
  <a class="btn btn-lg btn-default" href="/breeders/trials">Manage Field Experiments</a>
  <a class="btn btn-lg btn-default" href="/search/genotyping_protocols">Genotypic Data</a>
  <br /><br />

  <div class="well well-sm">
    <p>A Docker deployment is <a href="https://github.com/nickmorales/imagebreed_dockerfile"
        target=_blank>available</a>.</p>
    <p>Please cite <a href="https://acsess.onlinelibrary.wiley.com/doi/full/10.1002/ppj2.20004"
        target=_blank>ImageBreed</a> if you find this software useful. A detailed description of the genotyping storage
      system is <a href="https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0240059"
        target=_blank>published</a>. Please follow my <a href="https://www.researchgate.net/profile/Nicolas-Morales-6"
        target=_blank>research</a>.</p>
    <p>ImageBreed is now integrated with <a href="https://www.opendronemap.org/odm/" target=_blank>OpenDroneMap</a> for
      creating orthophotomosaics and digital surface maps (DSM) from color images or MicaSense 5-channel images.</p>
  </div>

  <hr>
  <br />
  <img src="/img/imagebreed/imagebreedlogo_noBackground.png" width="800" />
  <br />

</div>

<br />


{% endblock %}