<!DOCTYPE html>
<html>

<head>
  {% include 'header.html' %}

  {% block includes %} {% endblock %}
</head>

<body>

  <div id="outercontainer">
    <a name="top"></a>

    {% include 'navbar.html' %}

    <!-- END HEADER -->

    <!-- START CONTENT WRAPPER -->
    <br />

    <div id="wrapper" class="container-fluid">
      <div id="main_row" class="row justify-content-center">
        <div class="col-sm-12 col-md-10 col-lg-10 col-xl-8">
          <div id="pagetitle">
            {% block title required %}{% endblock %}
          </div>

          {% block content %} {% endblock %}

        </div>
      </div>
    </div>

  </div>
  {% include 'footer.html' %}

</body>

</html>